canvas {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
}


/* Game Over */
.game-content #gameover {
  background-color: red;
  top: 40%;
  left: 40%;
  width: 10%;
  display: none;
  position: absolute;
  text-align: center;
}


